################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Deltabyte_eMail_Mail_StringUti/eMail/obj
/Deltabyte_eMail_Mail_StringUti
